{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-collection-slider.css' | asset_url | stylesheet_tag }}

{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

<div class="page-width product-slider">
  <h5>{{ section.settings.heading_title | escape }}</h5>
  <ul id="carousel" class="owl-carousel owl-theme">
    {%- for product in section.settings.collection.products -%}
      {% if product.available %}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="item" style="list-style:none;">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: true,
            show_vendor: true,
            show_rating: true,
            section_id: section.id,
            lazy_load: true,
            show_button: section.settings.show_button,
            show_button_name: section.settings.show_button_name
          %}
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

{% comment %}
  <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
{% endcomment %}
<script>
  jQuery(document).ready(function () {
    jQuery('#carousel').owlCarousel({
      autoplay: true,
      lazyLoad: true,
      margin: 20,
      loop: true,
      dots: {{ section.settings.enable_dots }},
      responsiveClass: true,
      autoHeight: true,
      autoplayTimeout: 5000,
      smartSpeed: 800,
      nav: {{ section.settings.enable_arrow }},
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: {{ section.settings.show_on_mobile }},
        },

        576: {
          items: {{ section.settings.show_on_tablet }},
        },

        1024: {
          items: {{ section.settings.show_on_desktop }},
        },
      },
    });
  });
</script>
{% schema %}
{
  "name": "Custom Product Slider",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading_title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose the Collection"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to Image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Adapt to Image"
    },
    {
      "type": "header",
      "content": "Product Slider Settings"
    },
    {
      "type": "range",
      "id": "show_on_desktop",
      "min": 2,
      "max": 15,
      "step": 1,
      "label": "Show on Desktop",
      "default": 5
    },
    {
      "type": "range",
      "id": "show_on_tablet",
      "min": 2,
      "max": 10,
      "step": 1,
      "label": "Show on Tablet",
      "default": 3
    },
    {
      "type": "range",
      "id": "show_on_mobile",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Show on Mobile",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "label": "Enable dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_arrow",
      "label": "Enable Arrow",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": false
    },
    {
      "type": "text",
      "id": "show_button_name",
      "label": "Add Button Name",
      "default": "Add to cart"
    },
    {
      "type": "select",
      "id": "button_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "Text Transform",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
        ,
        {
          "value": "initial",
          "label": "Normal"
        }
      ],
      "default": "initial"
    },
    {
      "type": "range",
      "id": "button_spacing",
      "min": 6,
      "max": 30,
      "step": 2,
      "label": "Button Spacing",
      "default": 10
    },
    {
      "type": "range",
      "id": "font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "Button Font Weight",
      "default": 400
    },
    {
      "type": "color_background",
      "id": "button_background",
      "label": "Button Background",
      "default": "linear-gradient(#ffffff, #000000)"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Custom Product Slider"
    }
  ]
}
{% endschema %}
