
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-image-slider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<div class="page-width{% if section.settings.heading == blank %} no-heading{% endif %} image-slider">
<h4>{{ section.settings.heading | escape }}</h4>
<ul>
  {%- for block in section.blocks -%}
    <li><img src="{{ block.settings.image | img_url: 'master' }}" data-src="{{ block.settings.image | img_url: 'master' }}" data-hover="{{ block.settings.hover_image | img_url: 'master' }}" alt="" class="image-container" /></li>
  {%- endfor -%}
</ul>
</div>

{% schema %}
{
  "name": "Custom Image Slider",
  "settings": [
     {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Image Slider Heading"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Add Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Front Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        },
        {
          "type": "text",
          "id": "image_link",
          "label": "Image URL"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open in new tab!",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Slider",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}


{% javascript %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
$(".image-container").mouseover(function () {
  $(this).attr('src', $(this).data("hover"));
}).mouseout(function () {
  $(this).attr('src', $(this).data("src"));
})
{% endjavascript %}
