
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
{{ 'custom-image-slider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<div class="page-width{% if section.settings.heading == blank %} no-heading{% endif %} image-slider">
<h4>{{ section.settings.heading | escape }}</h4>


<ul data-slides="4" class="logo-image-slider">
  {%- for block in section.blocks -%}
    <li><img src="{{ block.settings.image | img_url: 'master' }}" data-src="{{ block.settings.image | img_url: 'master' }}" data-hover="{{ block.settings.hover_image | img_url: 'master' }}" alt="" class="image-container" /></li>
  {%- endfor -%}
</ul>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% schema %}
{
  "name": "Custom Image Slider",
  "settings": [
     {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Image Slider Heading"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "div",
          "label": "Div"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "div",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text Alighment"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Add Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Front Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        },
        {
          "type": "text",
          "id": "image_link",
          "label": "Image URL"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open in new tab!",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Slider",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}


{% javascript %}
$(document).ready(function(){
  $(".image-container").mouseover(function () {
    $(this).attr('src', $(this).data("hover"));
  }).mouseout(function () {
    $(this).attr('src', $(this).data("src"));
  })

  $('.logo-image-slider').slick();
});

{% endjavascript %}
